<div class="col-xs-12">
  <img src="<%=gif.url%>" class="img-responsive" alt="No Match"/>
</div>

<div class="gif-<%=gif.id%> gif-text">
  <p><strong>Submitted by: </strong><%= gif.user.email %>, <em><%= time_ago_in_words(gif.created_at) %> ago</em></p>
  <p><strong>Source: </strong><%= link_to gif.url, gif.url %></p>
</div>
