<div class="col-xs-12">
  <% if gif.file.blank? %>
    <img src="<%=gif.url%>" class="img-responsive center-block" alt="No Match"/>
  <% else %>
    <%= image_tag(attachment_url(gif, :file), :class => "img-responsive center-block") %>
  <% end %>
</div>

<div class="gif-<%=gif.id%> gif-text">
  <% if gif.url %>
    <p><strong>Submitted by: </strong><%= gif.user.email %>, <em><%= time_ago_in_words(gif.created_at) %> ago</em></p>
  <% end %>
  <p><strong>Source: </strong><%= link_to gif.url, gif.url %></p>
</div>
