<!DOCTYPE html>
<html>
<head>
  <title>GifsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<div class="container">
  <%= yield %>
</div>
<%= render :partial => 'gifs/form', :layout => 'shared/modal', :locals => {:title => "A new gif!", :id => "newGif"} %>
</body>
</html>
